<div class="container">
  <h2 style="padding: 20px; color: #0077B5">Role Setup</h2>
  <form [formGroup]="roleDetailes" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col">
        <label for="role">Role :</label>
        <input type="text"
               id="role"
               formControlName="role"
               placeholder="Enter the role" />
        <div *ngIf="role?.invalid && role?.touched">
          <small *ngIf="role?.errors?.['required']">Please Enter the Role</small>
        </div>
      </div>
    </div>
    <div class="buttons">
      <button class="submit" type="submit"  >Submit</button>
      <button class="clear" type="reset">Clear</button>
    </div>
  </form>
  <div class="table">
    <table>
      <thead>
        <tr>
          <td>S.No</td>
          <td>Role</td>
          <td>Action</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let role of roles">
          <td><span>{{role.roleId}}</span></td>
          <td>
            <span *ngIf="role.edit">
              <input type="text" style="border-radius: 0%;width:300px;" [(ngModel)]="role.description">
            </span>
            <span *ngIf="!role.edit">{{role.description}}</span></td>
          <td>
            <div *ngIf="!role.edit">
            <button type="button"  (click)="roleedit(role)"><i class="fa fa-edit" style="font-size:15px;padding:10px;"></i></button>&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" (click)="removeitem(role.roleId)"> <i class="fa fa-trash" style="font-size:15px;padding:10px;"></i></button>
          </div>
            <div *ngIf="role.edit">
              <button type="button" (click)="Update(role)"> <i class="fa fa-refresh" style="font-size: 15px; padding: 10px;"></i></button>&nbsp;&nbsp;&nbsp;&nbsp;
              <button type="button" (click)="close(role)"> <i class="fa fa-window-close" style="font-size:15px;padding:10px;"></i></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

