<div class="container">
  <div class="sidebar">
    <ul class="sidebar-links" id="sidebar-links">
      <li *ngFor="let i of Mainsidebar;let k = index;" #list>
        <div *ngIf="i.sub_menu.length == 0" class="dropdown-title">
          <a [routerLink]="[i.link]" (click)="i.action && i.action()" [routerLinkActive]="['active-link']" [routerLinkActiveOptions]="{exact: true}">
            <i [class]="i.icon"></i>
            <span class="link_name">{{i.link_name}}</span>
          </a>
        </div>
        <div *ngIf="i.sub_menu.length > 0" class="dropdown-title" (click)="submenu(list)">
          <a>
            <i [class]="i.icon"></i>
            <span class="link_name">{{i.link_name}}</span>
          </a>
          <i class="fas fa-chevron-right"></i>
        </div>
        <ul class="sub_menu" [class.blank]="i.sub_menu.length == 0" >
          <li *ngFor="let sub of i.sub_menu" routerLinkActive="active">
            <a [routerLink]="[sub.link]">{{sub.link_name}}</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="Master-sidebar"  >
    <div *ngFor="let m of  Mastersidebar" class="list" [routerLinkActive]="['active-link']" [routerLinkActiveOptions]="{exact: true}">
      <a [routerLink]="[m.link]" >
        <i [class]="m.icon"></i>
        <span class="master-name">{{m.link_name}}</span>
      </a>
    </div>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
