<div class="container">
  <h2 style="padding: 20px; color: #0077B5;">LeaveType Setup</h2>
  <form [formGroup]="leaveDetailes" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col">
        <label for="leave">Leave Type :</label>
        <input type="text"
               id="leave"
               formControlName="leave"
               placeholder="Enter the leavetype" />
        <div *ngIf="leave?.invalid && leave?.touched">
          <small *ngIf="leave?.errors?.['required']">Please Enter the Leavetype</small>
        </div>
      </div>
    </div>
    <div class="buttons">
      <button class="submit" type="submit" (click)="additem()">Submit</button>
      <button class="clear" type="reset">Clear</button>
    </div>
  </form>
  <div class="table">
    <table>
      <thead>
        <tr>
          <td>S.No</td>
          <td>Leave Type</td>
          <td>Action</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><span></span></td>
          <td><span>ll</span></td>
          <td><button type="button"> <i class="fa fa-edit" style="font-size:15px;padding:10px;"></i></button>&nbsp;&nbsp;&nbsp;&nbsp;<button type="button"> <i class="fa fa-trash" style="font-size:15px;padding:10px;"></i></button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

