<div class="container">
  <h2 style="padding: 20px; color: #0077B5;">Deparement Setup</h2>
  <form [formGroup]="DepartmentDetailes" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col">
        <label for="Department">Deparement :</label>
        <input type="text"
               id="Department"
               formControlName="Department"
               placeholder="Enter the Department" />
        <div *ngIf="Department?.invalid && Department?.touched">
          <small *ngIf="Department?.errors?.['required']">Please Enter the Deparement</small>
        </div>
      </div>
    </div>
    <div class="buttons">
      <button class="submit" type="submit" >Submit</button>
      <button class="clear" type="reset">Clear</button>
    </div>
  </form>
  <div class="table">
    <table>
      <thead>
        <tr>
          <td>S.No</td>
          <td>Department</td>
          <td>Action</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><span></span></td>
          <td><span>DD</span></td>
          <td><button type="button"> <i class="fa fa-edit" style="font-size:15px;padding:10px;"></i></button>&nbsp;&nbsp;&nbsp;&nbsp;<button type="button"> <i class="fa fa-trash" style="font-size:15px;padding:10px;"></i></button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
